# ————————————————————————————
# Neon PostgreSQL
# ————————————————————————————
DATABASE_URL=postgresql://USUARIO:PASSWORD@HOST-pooler.sa-east-1.aws.neon.tech/a51barber?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USUARIO:PASSWORD@HOST.sa-east-1.aws.neon.tech/a51barber?sslmode=require

# ————————————————————————————
# Better Auth
# ————————————————————————————
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
